
<div class="container mt-5 mb-5 d-flex justify-content-center">
  <div class="card px-1 py-4 card-body">
   <form (ngSubmit)="addPlayer(game.value, firstName.value, lastName.value, nickName.value)" #form="ngForm">
    <h1>Dodaj gracza</h1>
      <div class="row">
        <div class="col-sm-12 m-1">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Imię gracza" #firstName required > 
            </div>
        </div>
    </div>
    
    <div class="row">
      <div class="col-sm-12 m-1">
          <div class="form-group">
              <input class="form-control" type="text" placeholder="Nazwisko gracza" #lastName required > 
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-12 m-1">
        <div class="form-group">
            <div class="input-group"> 
                <input class="form-control" type="text" placeholder="Nick Gracza" #nickName required > 
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-sm-12 m-1 mt-3 mb-3">
      <div class="form-group">
          <div class="input-group">
              <select #game class="form-select" required>
                  <option value="" disabled selected>Wybierz grę</option>
                  <option value="CS">Counter-Strike</option>
                  <option value="Valorant">Valorant</option>
                  <option value="LoL">League of Legends</option>
              </select>
          </div>
      </div>
  </div>
</div>
    <button type="submit" class="btn btn-primary btn-block confirm-button">Dodaj gracza</button>
  </form>
  </div> 
</div>


<h2 class="card-title mb-3">Gracze League of Legends</h2>
  <!-- Tabela graczy CS'a -->
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Nick</th>
        <th>Usuń</th>
        <th>Edytuj</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of csPlayers">
        <td>{{ player.id }}</td>
        <td>{{ player.name }}</td>
        <td>{{ player.surname }}</td>
        <td>{{ player.nickname }}</td>
        <td>
          <button (click)="deletePlayer(game.value, player.id)" class="btn btn-danger">Usuń</button>
        </td>
        <td>
          <button (click)="editPlayer(game.value, player.id)" class="btn btn-warning">Edytuj</button>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>Gracze Valorant</h2>
  <!-- Tabela graczy Valorant... -->
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Nick</th>
        <th>Usuń</th>
        <th>Edytuj</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of valorantPlayers">
        <td>{{ player.id }}</td>
        <td>{{ player.name }}</td>
        <td>{{ player.surname }}</td>
        <td>{{ player.nickname }}</td>
        <td>
          <button (click)="deletePlayer(game.value, player.id)" class="btn btn-danger">Usuń</button>
        </td>
        <td>
          <button (click)="editPlayer(game.value, player.id)" class="btn btn-warning">Edytuj</button>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>Gracze League of Legends</h2>
  <!-- Tabela graczy League of Legends... -->
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Nick</th>
        <th>Usuń</th>
        <th>Edytuj</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of lolPlayers">
        <td>{{ player.id }}</td>
        <td>{{ player.name }}</td>
        <td>{{ player.surname }}</td>
        <td>{{ player.nickname }}</td>
        <td>
          <button (click)="deletePlayer(game.value, player.id)" class="btn btn-danger">Usuń</button>
        </td>
        <td>
          <button (click)="editPlayer(game.value, player.id)" class="btn btn-warning">Edytuj</button>
        </td>
      </tr>
    </tbody>
  </table>

